# dependencias
node_modules
.pnp
.pnp.js

# build
dist
dist-ssr
*.local

# entorno
.env
.env.*
!env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
